{% extends "base.twig" %}

{% block header %}
    <h1>Another Clucking Problem?</h1>
{% endblock %}

{% block content %}
    <h4>Error Retrieving Access Token:</h4>
    {% include '_error.twig' %}

    <a href="{{ path('home') }}">back</a>
{% endblock %}
