{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>
            Hey {{ user.username }}!
            It's me, your house
        </h3>
        <p>
            You can do all sorts of cool things from this website. For instance:
        </p>
        <ul>
            {#
                Todo - change these to non-API calls - things we can really do
                as the logged in user!
            #}
            <li><a href="{{ path('api_call', {'action': 'door-unlock'}) }}">Unlock the Door</a></li>
            <li><a href="{{ path('api_call', {'action': 'toiletseat-down'}) }}">Put the Toilet Seat Down</a></li>
            <li><a href="{{ path('api_call', {'action': 'ac-on'}) }}">Turn on the A.C.</a></li>
        </ul>
    </div>
<div>
{% endblock %}