{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>Manage your Farm</h3>
        <p>
            <a href="{{ path('user_register') }}">Register</a>/<a href="{{ path('user_login') }}">login</a> to get started. Or check out the
            <a href="{{ path('api_home') }}">API</a>!!
        </p>
    </div>
<div>
{% endblock %}
