{% extends "base.twig" %}

{% block header %}<h1>Create your Application</h1>{% endblock %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <p>Congratulations!  You've created your application!<p>
        <h2>{{ name }}</h2>
        <p>Your secret is below. Keep it somewhere safe!</p>
        <pre><h2>    {{ secret }}</h2></pre>
    </div>
</div>
<div class="bs-docs-section" role="main">
    <div class="row">
        <p>
            Now you need to get permission from my owner to perform those functions,
            using the <code>authorize</code> url below:
        </p>
        <pre class="alert-info">
            <code>
                <a href="{{ url('authorize', {client_id: name, response_type: 'code'}, true) }}">
                    {{ url('authorize', {client_id: name, response_type: 'code'}, true) }}
                </a>
            </code>
        </pre>
    </div>
</div>
{% endblock %}