{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>
            Well hello there,
        </h3>

        <p>Click the button below to complete the authorize request and grant an <code>Authoriation Code</code> to {{client_id}}.</p>
    </div>
    <div class="row">
        <a href="{{ path('authorize_submit') ~ '?' ~ app.request.queryString ~ '&authorize=1'}}" type="submit" class="btn btn-default">
            Yes, I Authorize This Request
        </a>
        <a href="{{ path('authorize_submit') ~ '?' ~ app.request.queryString ~ '&authorize=0'}}" class="btn btn-primary btn-sm">
            get me out of here!
        </a>
    </div>
<div>
{% endblock %}