{% extends "base.twig" %}

{% block content %}
<div class="bs-docs-section" role="main">
    <div class="row">
        <h3>
            Well hello there, owner!
        </h3>

        <p>Click the button below to complete the authorize request and grant an <a href="http://tools.ietf.org/html/rfc6749#section-1.3.1">Authorization Code</a> to <code>{{client_id}}</code>.</p>
    </div>
    <div class="row">
        <a href="{{ path('authorize_submit') ~ '?' ~ app.request.queryString ~ '&authorize=1'}}" type="submit" class="btn btn-default">
            Yes, I Authorize This Request
        </a>
        <a href="{{ path('authorize_submit') ~ '?' ~ app.request.queryString ~ '&authorize=0'}}" class="btn btn-primary btn-sm">
            get me out of here!
        </a>
    </div>
<div>
{% endblock %}