{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h3>Your Basket of Eggs</h3>

            {% if user.coopAccessToken == '' %}
                <div class="alert alert-info">
                    To start counting your eggs, you need to authorize Top Cluck
                    to use your COOP account! Once you do that, we can count
                    your eggs!
                </div>

                <a class="btn btn-primary btn-lg" href="{{ path('coop_authorize_start') }}">Authorize</a>
            {% else %}
                Looks like you've collected <span class="label label-success">{{ eggCount }}</span> eggs today.

                <a href="{{ path('count_eggs') }}" class="btn btn-primary">Update today's egg count</a>
            {% endif %}


        </div>
        <div class="col-lg-6">
            {{ include('_leaderboard.twig') }}
        </div>
    </div>
{% endblock %}
