{% extends "base.twig" %}

{% block content %}
    <h3>Resource Request Complete!</h3>
    {% if response.success is defined and response.success %}
        <p>
            You have successfully called the APIs with your Access Token. Here is the response:
        </p>

        <pre>{{ response|json_stringify }}</pre>
    {% else %}
        <h4>Response:</h4>
        {% include '_error.twig' %}
    {% endif %}

    <pre><code>  The API call can be seen at <a href="{{ resource_uri }}" target="_blank">{{resource_uri}}</a></code></pre>

    <a href="{{ path('home') }}">back</a>
{% endblock %}
